<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561927875667-090r2usluh15lfh5h1u362rba4roajtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561927875667-090r2usluh15lfh5h1u362rba4roajtm</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-MMwuOm6isq7DRD1xr6SFPfK7RsUF6M</string>
	<key>GCM_SENDER_ID</key>
	<string>561927875667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orgmeApp</string>
	<key>PROJECT_ID</key>
	<string>organization-app-a1e71</string>
	<key>STORAGE_BUCKET</key>
	<string>organization-app-a1e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561927875667:ios:7f716d6ca1bae8baf06aa6</string>
	<key>DATABASE_URL</key>
	<string>https://organization-app-a1e71-default-rtdb.firebaseio.com</string>
</dict>
</plist>